.backside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 350px;
  width: 250px;
  color: #232323;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 42px 4px rgba(140, 140, 140, 0.41);
  -moz-box-shadow: 1px 1px 42px 4px rgba(140, 140, 140, 0.41);
  box-shadow: 1px 1px 42px 4px rgba(140, 140, 140, 0.41);

  .title {
    padding: 0 20px;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    opacity: 0.9;
    color: chocolate;
  }

  .ratingBlock {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    .rating {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25px;
      width: 25px;
      padding: 10px;
      border: 2px solid green;
      border-radius: 30px;
    }

    .toFavorite {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25px;
      width: 25px;
      padding: 10px;
      border: 2px solid #01a1a1;
      border-radius: 30px;
    }
  }

  .genresBlock {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 40px;

    .genreTitle {
      font-size: 0.8em;
      color: #757575;
    }

    .genre {
      font-size: 0.9em;
    }
  }

  .releaseDate {

  }
}