.content {
  min-height: 83.9vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
  }
}