.leftCol {
    margin-right: 1rem;
    width: 300px;

    .pesonalInfo,
    .socials {
        margin: 0.5rem 0;

        .personalnfoTitles {
            font-weight: 700;
        }
    }

    .socials {
        display: flex;
        justify-content: center;
        align-items: center;

        .socialsItem {
            margin: 0 0.7rem;

        }
    }


    img {
        border-radius: 20px;
        width: 300px;

    }
}