.reverseCardPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 250px;
  box-shadow: 0 0 3px 3px rgba(167, 167, 187, 0.71);
  color: #000000;

  img {
    height: 100%;
    width: 100%;
  }
}