.actors {
  min-height: 400px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .actorsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

    .title {
      margin-left: 35px;
      background: #020419;
      background: linear-gradient(to top, #020419 0%, #AAB396 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

    }

    .switch {
      margin-right: 35px;
    }
  }

  .actorsCards {
    margin: 15px 0;
    gap: 20px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
;
}